$font-family: "Roboto", sans-serif;

$unit: 16px;

$colorPrimary: #333;
$colorSecondary: #d6d8d9;
$colorSuccess: green;
$colorDanger: red;
$colorWarning: yellow;
$colorLight: #fff;

$colorBtn: #0c7b93;
$colorBtnActive: #27496d;
$colorBtnDark: #142850;
